.li_item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px 15px;
  background: white;


}

.li_item:hover {
  transition: all 0.3s ease;
  background: rgb(230, 215, 215);
}

.li_item span {



  min-width: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;


}

.icons {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0
}

.icons svg {
  cursor: pointer;
}

.deleteIcon:hover,
.editIcon:hover,
.infoIcon:hover {
  transition: all .3s;
  stroke: black;
}

.li_text_i {
  flex: 1;
  min-width: 0;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;

}

.li_text_i input {
  cursor: pointer;

}

.done {
  text-decoration: line-through;
}

.link{
  display: flex;
  align-items: center;
  color:gray;
}

.link:visited{
  color:gray;
}

.link:hover{
  color:black
}
