.li_item {
  flex-wrap: wrap;
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 20px;

}

.li_item:hover{
  transition: all .0.3s ease;
  background: rgb(230, 215, 215);
}

.li_item span {

  white-space: nowrap;
  overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons {
  display: flex;
  gap: 5px;
}

.icons svg {
  cursor: pointer;
}

.deleteIcon:hover,.editIcon:hover,.infoIcon:hover{
  transition: all .3s;
  stroke: black;
}

